.course-item-link {
  width: 210px;
  height: 90px;
  margin-right: 25px;
  margin-bottom: 35px;
  text-decoration: none;
}

.course-item {
  width: 210px;
  height: 90px;
  display: flex;
  align-items: center;

  list-style-type: none;
}

.course-img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.course-name {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 700;
}
