.nav-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  height: 15vh;
  background-color: #f1f5f9;
}

.logo-button {
  border-width: 0;
  background: none;
  cursor: pointer;
  outline: none;
}

.nav-image {
  width: 130px;
  height: 60px;
  margin-left: 30px;
}
